<?php

/**
 * Drupal VM drush aliases.
 *
 * @see example.aliases.drushrc.php.
 */

/* UBN-VM local development */
$aliases['{{ drupal_domain }}'] = array(
  'uri' => '{{ drupal_domain }}',
  'root' => '{{ drupal_core_path }}',
);
