<?php

/**
 * Drupal VM drush aliases.
 *
 * @see example.aliases.drushrc.php.
 */
{% for alias, options in drush_aliases.iteritems() %}
$aliases['{{ alias }}'] = array(
  {% for key, value in options.iteritems() %}
    {% if key not in ['remote-host', 'remote-user', 'ssh-options'] %}
  '{{ key }}' => '{{ value }}',
    {% endif %}
  {% endfor %}
);
{% endfor %}
