<?php

/**
 * Drupal VM drush aliases.
 *
 * @see example.aliases.drushrc.php.
 */

/* UBN-VM local development */
$aliases['{{ drupal_domain }}'] = array(
  'uri' => '{{ drupal_domain }}',
  'root' => '{{ drupal_core_path }}',
  'remote-host' => '{{ drupal_domain }}',
  'remote-user' => 'vagrant',
  'ssh-options' => '-o PasswordAuthentication=no -i ~/.vagrant.d/insecure_private_key',
);

/* UBN production */
$aliases['{{ drupal_production_domain }}'] = array(
  'uri' => '{{ drupal_production_domain }}',
  'root' => '{{ drupal_production_core_path }}',
  'remote-host' => '{{ drupal_production_domain }}',
  'remote-user' => '{{ drupal_production_user }}',
);
