#jinja2: lstrip_blocks: True
<?php

/**
 * Drupal VM drush aliases.
 *
 * @see example.aliases.drushrc.php.
 */
/* UBN-VM local development */
{% for alias, options in drush_aliases.iteritems() %}
$aliases['{{ alias }}'] = array(
  {% for key, value in options.iteritems() %}
  '{{ key }}' => '{{ value }}',
  {% endfor %}
);
{% endfor %}

/* UBN production */
/*
$aliases['\{\{ drupal_production_domain \}\}'] = array(
  'uri' => '\{\{ drupal_production_domain \}\}',
  'root' => '\{\{ drupal_production_core_path \}\}',
  'remote-host' => '\{\{ drupal_production_domain \}\}',
  'remote-user' => '\{\{ drupal_production_user \}\}',
);
*/
