nginx_sites:
{% for stage, config in ubnext_stages.iteritems() %}
  {{ stage }}_http:
    - listen 80
    - server_name {{ config.hostname }}
    - return 301 https://$server_name$request_uri
  {{ stage }}_https:
    - listen 443 ssl
    - server_name {{ config.hostname }}
    - include {{ nginx_conf_dir }}/ssl.conf
    - ssl_certificate  {{ config.tls.cert_file }}
    - ssl_certificate_key {{ config.tls.key_file }}
    - "#ssl_dhparam /etc/nginx/cert/dhparam.pem"
    - "location / {
        include {{ nginx_conf_dir }}/ssl_proxy.conf;
        proxy_pass http://127.0.0.1:8080;
    }"
{% endfor %}
